In [1]:
!pip install pandas
!pip install seaborn
!pip install matplotlib
!pip install numpy

Requirement already satisfied: pandas in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from pandas) (2025.1)
Requirement already satisfied: numpy>=1.20.3 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from pandas) (1.24.4)
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: seaborn in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from seaborn) (1.24.4)
Requirement already satisfied: pandas>=1.2 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from seaborn) (2.0.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from seaborn) (3.7.5)
Requirement already satisfied: contourpy>=1.0.1 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: importlib-resources>=3.2.0 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (6.4.4)
Requirement already satisfied: pytz>=2020.1 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: zipp>=3.1.0 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.4->seaborn) (3.20.1)
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: matplotlib in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (3.7.5)
Requirement already satisfied: contourpy>=1.0.1 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from matplotlib) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from matplotlib) (4.55.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy<2,>=1.20 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from matplotlib) (1.24.4)
Requirement already satisfied: packaging>=20.0 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: importlib-resources>=3.2.0 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from matplotlib) (6.4.4)
Requirement already satisfied: zipp>=3.1.0 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from importlib-resources>=3.2.0->matplotlib) (3.20.1)
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: numpy in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (1.24.4)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [3]:
#1
df = pd.read_csv("medical_examination.csv", index_col="id")

df

,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [4]:
#2
df['BMI'] = df["weight"] / ((df["height"]/100) ** 2)

#df['overweight'] = np.where(df['BMI'] > 25, 1, 0)
df['overweight'] = df['BMI'].apply(lambda x: 1 if x > 25 else 0)

df

,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,BMI,overweight
id,,,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,21.967120,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1,34.927679,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1,23.507805,0
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,28.710479,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,23.011177,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99993,19240,2,168,76.0,120,80,1,1,1,0,1,0,26.927438,1
99995,22601,1,158,126.0,140,90,2,2,0,0,1,1,50.472681,1
99996,19066,2,183,105.0,180,90,3,1,0,1,0,1,31.353579,1
99998,22431,1,163,72.0,135,80,1,2,0,0,0,1,27.099251,1
99999,20540,1,170,72.0,120,80,2,1,0,0,1,0,24.913495,0

In [ ]:
#3
df['cholesterol'] = df['cholesterol'].apply(lambda x: 0 if x == 1 else 1)

df['gluc'] = df['gluc'].apply(lambda x: 0 if x == 1 else 1)

df

,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,BMI,overweight
id,,,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,0,0,0,0,1,0,21.967120,0
1,20228,1,156,85.0,140,90,1,0,0,0,1,1,34.927679,1
2,18857,1,165,64.0,130,70,1,0,0,0,0,1,23.507805,0
3,17623,2,169,82.0,150,100,0,0,0,0,1,1,28.710479,1
4,17474,1,156,56.0,100,60,0,0,0,0,0,0,23.011177,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99993,19240,2,168,76.0,120,80,0,0,1,0,1,0,26.927438,1
99995,22601,1,158,126.0,140,90,1,1,0,0,1,1,50.472681,1
99996,19066,2,183,105.0,180,90,1,0,0,1,0,1,31.353579,1
99998,22431,1,163,72.0,135,80,0,1,0,0,0,1,27.099251,1
99999,20540,1,170,72.0,120,80,1,0,0,0,1,0,24.913495,0

In [6]:
#4 
#5
df_cat = df.melt(id_vars=['cardio'], value_vars=['cholesterol', 'gluc', 'smoke', 'alco', 'active', 'overweight'])

df_cat

        cardio     variable  value
0            0  cholesterol      0
1            1  cholesterol      1
2            1  cholesterol      1
3            1  cholesterol      0
4            0  cholesterol      0
...        ...          ...    ...
419995       0   overweight      1
419996       1   overweight      1
419997       1   overweight      1
419998       1   overweight      1
419999       0   overweight      0

[420000 rows x 3 columns]